*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#121026;
color:#F8F9FF;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#3A2E5E;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar li{
margin-left:20px;
}

.navbar a{
text-decoration:none;
color:#F8F9FF;
}

.logo{
font-size:24px;
}


/* Hero Section */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;

background-image:linear-gradient(rgba(18,16,38,0.7),rgba(18,16,38,0.7)),
url("mental-health-bg.jpg");

background-size:cover;
background-position:center;
}

.hero h2{
font-size:48px;
margin-bottom:20px;

}

.info-hero{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background-image:linear-gradient(rgba(18,16,38,0.7),rgba(18,16,38,0.7)),
url("mental-health-bg.jpg");

background-size:cover;
background-position:center;
}

.info-hero h1{
font-size:42px;
margin-bottom:10px;
}

.info-hero p{
font-size:18px;
}

/* Cards */

.cards-section{
padding:80px 40px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
background:#1E1A3A;
padding:30px;
border-radius:12px;
width:250px;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
background:#2C2550;
}
.cards a{
text-decoration:none;
color:#F8F9FF;
}
.info-card{
max-width:900px;
margin:80px auto;
padding:40px;

background:#1E1A3A;
border-radius:12px;

line-height:1.8;
}

.info-card h2{
color:#CDB4FF;
margin-bottom:15px;
font-size:28px;
}

.info-card p{
font-size:18px;
}


/* Quote */

.quote{
text-align:center;
padding:60px;
background:#1E1A3A;
font-size:20px;
}
.info-card{
max-width:900px;
margin:80px auto;
padding:40px;

background:#1E1A3A;
border-radius:12px;

line-height:1.8;
}

.info-card h2{
color:#CDB4FF;
margin-bottom:15px;
font-size:28px;
}

.info-card p{
font-size:18px;
}

/* Footer */

footer{
text-align:center;
padding:20px;
background:#3A2E5E;
}
/* SELF CARE HERO */

.selfcare-hero{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background:linear-gradient(135deg,#121026,#3A2E5E);
padding:20px;

background-image:linear-gradient(rgba(18,16,38,0.7),rgba(18,16,38,0.7)),
url("mental-health-bg.jpg");
}

.selfcare-hero h1{
font-size:42px;
margin-bottom:15px;
}

.selfcare-hero p{
max-width:600px;
}


/* SELF CARE SECTIONS */

.selfcare-section{
display:flex;
align-items:center;
justify-content:center;
gap:60px;

padding:80px 10%;
}

.selfcare-section.reverse{
flex-direction:row-reverse;
}

.selfcare-text{
max-width:500px;
}

.selfcare-text h2{
color:#CDB4FF;
margin-bottom:15px;
}

.selfcare-image img{
width:350px;
border-radius:12px;
}


/* TIPS SECTION */

.tips-section{
text-align:center;
padding:80px 20px;

}

.tips{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.tip-card{
background:#1E1A3A;
padding:25px;
width:220px;
border-radius:10px;
transition:0.3s;
}

.tip-card:hover{
transform:translateY(-8px);
background:#2C2550;
}
/* COMMUNITY HERO */

.community-hero{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background-image:linear-gradient(rgba(18,16,38,0.7),rgba(18,16,38,0.7)),
url("mental-health-bg.jpg");

background-size:cover;
background-position:center;

padding:20px;
}

.community-hero h1{
font-size:42px;
margin-bottom:10px;
}



/* COMMUNITY SECTION */

.community-section{
display:flex;
align-items:center;
justify-content:center;
gap:60px;

padding:80px 10%;
}

.community-text{
max-width:500px;
}

.community-text h2{
color:#CDB4FF;
margin-bottom:15px;
}

.community-image img{
rgba(18,16,38,0.7)),
url("other.jpg");
width:350px;
border-radius:12px;
}



/* SUPPORT MESSAGES */

.support-messages{
text-align:center;
padding:80px 20px;
}

.messages{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.message-card{
background:#1E1A3A;
padding:25px;
width:230px;
border-radius:10px;
transition:0.3s;
}

.message-card:hover{
transform:translateY(-8px);
background:#2C2550;
}



/* HELPLINE */

.helpline{
text-align:center;
padding:80px 20px;
}

.helpline-box{
background:#1E1A3A;
margin:20px auto;
padding:20px;
width:280px;
border-radius:10px;
}
/* HELP HERO */

.help-hero{
height:50vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

background:linear-gradient(135deg,#121026,#3A2E5E);
padding:20px;
}

.help-hero h1{
font-size:42px;
margin-bottom:10px;
}



/* EMERGENCY SECTION */

.emergency{
text-align:center;
padding:60px 20px;
}

.emergency-box{
background:#7B6CF6;
color:white;
display:inline-block;
padding:15px 25px;
border-radius:8px;
margin-top:20px;
}



/* HELPLINE */

.helpline-section{
text-align:center;
padding:80px 20px;
}

.helpline-cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.helpline-card{
background:#1E1A3A;
padding:25px;
width:220px;
border-radius:10px;
transition:0.3s;
}

.helpline-card:hover{
transform:translateY(-8px);
background:#2C2550;
}



/* RESOURCES */

.resources{
text-align:center;
padding:80px 20px;
}

.resource-cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.resource-card{
background:#1E1A3A;
padding:25px;
width:220px;
border-radius:10px;
transition:0.3s;
}

.resource-card:hover{
transform:translateY(-8px);
background:#2C2550;
}